:root {
  --primary-bg-color: #366f62;
  --text-color: #060606;
  --main-bg-color: #493a26;
  --main-text-color: #fff;
  --main-btn-bg-color: #9ac194;
  --secondary-bg-color: #1d3f44;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */
.side-bar {
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  padding: 20px;
  height: 500px;
  /*scrolling functionality*/
  height: 400px; 
  overflow-y: auto; 
}
  .player-layout {
    display: flex;
    flex-direction: row; /*I seriously struggled to make a side bar for this video*/
    align-items: stretch;
  } 
h2 {
  font-size: 30px;
} /*don't know why, but i had to move h2 down to make the "step" text to be bigger without making the step text bigger*/
.step {
 background-color: var(--primary-bg-color);
  padding: 5px;
  margin-top: 3%;
  margin-bottom: 3px; /*gaps between each step*/
}
/* Create a container for the main content */
.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%;
margin-top: 2rem;
padding: 3rem; /*scaleable*/
}
/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  width: 100%;
  border: 8px solid var(--secondary-bg-color);
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: var(--secondary-bg-color);
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #f29532;
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
