body {
  margin: 0;
  font-size: 1rem;
}
h1 {
  font-weight: 400px;
  font-size: 21px;
  font-style: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
p {
  width: 300px;
  background-color: rgb(206, 206, 207);
  border: 9px;
  min-height: 150px;
  padding-left: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.para1 {
  height: 60px;
  line-height: 40px;
}
span {
  color: blue;
}
